@model QuanLyQuanCaPhe.Models.SanPhamModel

<h2>----Thêm Sản Phẩm-----</h2>

<form asp-action="Create" method="post">
    <span class="d-flex flex-row justify-content-between">
        <div class="col-4">
            <label asp-for="sTenSP">Tên sản phẩm</label>
            <input asp-for="sTenSP" class="form-control" />
            <span asp-validation-for="sTenSP" class="text-danger"></span>
        </div>
        <div class="col-3">
            <label asp-for="FK_sMaNCC">Nhà cung cấp</label>
            <select asp-for="FK_sMaNCC" class="form-control" asp-items="ViewBag.NhaCungCap">
                <option value="">Chọn nhà cung cấp</option>
            </select>
            <span asp-validation-for="FK_sMaNCC" class="text-danger"></span>
        </div>
        <div class="col-3">
            <label asp-for="FK_sMaLSP">Loại sản phẩm</label>
            <select asp-for="FK_sMaLSP" class="form-control" asp-items="ViewBag.LoaiSanPham">
                <option value="">Chọn loại sản phẩm</option>
            </select>
            <span asp-validation-for="FK_sMaLSP" class="text-danger"></span>
        </div>
    </span>
    <div class="d-flex flex-row justify-content-between mt-3">
        <div class="col-1">
            <label asp-for="iSoLuong">Số lượng</label>
            <input asp-for="iSoLuong" class="form-control" />
            <span asp-validation-for="iSoLuong" class="text-danger"></span>
        </div>
        <div class="col-6">
            <label asp-for="fGiaSP">Giá sản phẩm</label>
            <input asp-for="fGiaSP" class="form-control" />
            <span asp-validation-for="fGiaSP" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="sIMG">Hình ảnh</label>
            <input type="file" asp-for="sIMG" class="form-control" />
            <span asp-validation-for="sIMG" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2 mb-2">Thêm</button>
</form>
<div>
    <a asp-action="Index">Quay lại danh sách sản phẩm</a>
</div>